.container {
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.coinInfos {
    background: #0f0f0f;
    padding: 24px;
    width: 420px;
    border-radius: 8px;
    margin-top: 8px;
}

.coinInfos p {
    display: flex;
    justify-content: space-between;
}

.coinInfos p:not(:last-child) {
    margin-bottom: 16px;
}

.profit {
    color: #12f98a;
}

.loss {
    color: #F91257
}